In [16]:
import sqlite3 as sq
import datetime

In [17]:
con = sq.connect("contactmanagementsystem1.db")

In [18]:
cur = con.cursor()

In [19]:
cur.execute("""create table if not exists contact
               ( cid int primary key,
                 fname text,
                 lname text,
                 contact number,
                 email text,
                 city text
                 check ( email like '%_@_%._%')
                );""")

In [20]:
cur.execute("""create table if not exists details_log
                (
                    
                    fname text,
                    lname text,
                    newcontact number,
                    oldcontact number,
                    datetime text,
                    operation text
                    
                )""")

In [21]:
cur.execute("""create trigger if not exists insertdata
               after insert on contact
               begin
                   insert into details_log
                   values(new.fname,new.lname,new.contact,'NULL',datetime('now'),'insert');
               end;
                   """)

In [22]:
cur.execute("""create trigger if not exists deletedata
               after delete on contact
               begin
                   insert into details_log
                   values(old.fname,old.lname,'NULL',old.contact,datetime('now'),'delete');
               end;
                   """)

In [23]:
cur.execute("""create trigger if not exists updatedata
               after update on contact
               begin
                   insert into details_log
                   values(new.fname,new.lname,new.contact,old.contact,datetime('now'),'update');
               end;
                   """)

In [24]:
def updaterecord(cd):
    newcon=int(input("Enter new Contact Number:"))
    cur.execute(f"Update contact set contact={newcon} where cid={cd};")

In [25]:
def deleterecord(cd):
    cur.execute(f"delete from contact where cid={cd}")

In [26]:
def searchrecord(cd):
    cur.execute(f"select * from contact where cid={cd}")
    row=cur.fetchall()
    print(row)

In [27]:
cur.execute("""insert into contact values
                (1,'jenil','rathod',9081764849,'jenil32@gmail.com','mahuva'),
                (2,'savan','patel',9925146622,'savan21@gmail.com','surat'),
                (3,'kunal','patil',5476563023,'savan33@gmail.com','mandvi'),
                (4,'sahil','patel',8453546576,'sahil22@gmail.com','vyara'),
                (5,'parth','shah',7486777657,'parth44@gmail.com','madhi');""")

In [28]:
updaterecord(2)

Enter new Contact Number:9385152459

In [29]:
deleterecord(3)

In [30]:
cur.execute("select * from contact")
row=cur.fetchall()
for i in row:
    print(f"\nID:{i[0]}\nFname:{i[1]}\nLname:{i[2]}\nContact:{i[3]}\nEmail:{i[4]}\ncity:{i[5]}")

ID:1
Fname:jenil
Lname:rathod
Contact:9081764849
Email:jenil32@gmail.com
city:mahuva

ID:2
Fname:savan
Lname:patel
Contact:9385152459
Email:savan21@gmail.com
city:surat

ID:4
Fname:sahil
Lname:patel
Contact:8453546576
Email:sahil22@gmail.com
city:vyara

ID:5
Fname:parth
Lname:shah
Contact:7486777657
Email:parth44@gmail.com
city:madhi

In [31]:
cur.execute("select * from details_log")
row1=cur.fetchall()
print(row1)
for i in row1:
    print(f"\nFname:{i[0]}\nLname:{i[1]}\nNew-contact:{i[2]}\nOld-Contact:{i[3]}\nDatetime:{i[4]}\nOperation:{i[5]}")

[('jenil', 'rathod', 9081764849, 'NULL', '2023-08-17 07:04:38', 'insert'), ('savan', 'patel', 9925146622, 'NULL', '2023-08-17 07:04:38', 'insert'), ('kunal', 'patil', 5476563023, 'NULL', '2023-08-17 07:04:38', 'insert'), ('sahil', 'patel', 8453546576, 'NULL', '2023-08-17 07:04:38', 'insert'), ('parth', 'shah', 7486777657, 'NULL', '2023-08-17 07:04:38', 'insert'), ('savan', 'patel', 9385152459, 9925146622, '2023-08-17 07:05:41', 'update'), ('kunal', 'patil', 'NULL', 5476563023, '2023-08-17 07:05:59', 'delete')]

Fname:jenil
Lname:rathod
New-contact:9081764849
Old-Contact:NULL
Datetime:2023-08-17 07:04:38
Operation:insert

Fname:savan
Lname:patel
New-contact:9925146622
Old-Contact:NULL
Datetime:2023-08-17 07:04:38
Operation:insert

Fname:kunal
Lname:patil
New-contact:5476563023
Old-Contact:NULL
Datetime:2023-08-17 07:04:38
Operation:insert

Fname:sahil
Lname:patel
New-contact:8453546576
Old-Contact:NULL
Datetime:2023-08-17 07:04:38
Operation:insert

Fname:parth
Lname:shah
New-contact:7486777657
Old-Contact:NULL
Datetime:2023-08-17 07:04:38
Operation:insert

Fname:savan
Lname:patel
New-contact:9385152459
Old-Contact:9925146622
Datetime:2023-08-17 07:05:41
Operation:update

Fname:kunal
Lname:patil
New-contact:NULL
Old-Contact:5476563023
Datetime:2023-08-17 07:05:59
Operation:delete